/*
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

div.dataTables_filter label { float: right; width: 460px; text-align: right; }
div.dataTables_filter input { display: inline; }
div.dataTables_info { padding-top: 8px; }
div.dataTables_paginate { float: right; margin: 0; }

table {
    margin: 1em 0;
    clear: both;
}

a { cursor: pointer; }
.dim { color: #aaa; }

#main {
  padding: 20px;
  > h1 { margin-bottom: -37px; }
}

table.header {
  width: 100%;
  margin: 0;
  td { vertical-align: text-bottom; }
  h1, h2, h3, h4 { display: inline; }
  .subtext { text-align: right; }
}

.left_fixie {
  position: fixed;
  width: 50%;

  .tab-content {
    overflow: scroll;
    display: block;
  }
}

.right_fluid {
  margin-left: 55%;
}

#old_replies {
  display: none;
}

.human_reply {
  margin-bottom: 20px;

  .header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
    .recipients { display:inline-block; margin: 7px 0 0 10px; }
  }
}