<div class='human_reply'>
  <div class='header'>
    <h3><%= rep.from %></h3>
    <span class='recipients'><%= recipient_list(rep.to_emails) %></span>
    <span class='reply_time'><%= rep.sent_at %></span>
  </div>
  <%= clean_email(rep.body) %>
</div>